/* line 5, app/assets/stylesheets/groups.scss */
.grp-sel {
  margin-left: 12px !important;
}

/* line 9, app/assets/stylesheets/groups.scss */
.icon-select {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* line 14, app/assets/stylesheets/groups.scss */
.icon-select li {
  width: 20%;
  background-color: #fff;
}

/* line 18, app/assets/stylesheets/groups.scss */
.icon-select li input {
  display: none;
}

/* line 21, app/assets/stylesheets/groups.scss */
.icon-select li input:checked + label {
  background-color: #dae0e5;
}

/* line 28, app/assets/stylesheets/groups.scss */
.grp-img {
  filter: blur(4px) opacity(25%);
}

/* line 32, app/assets/stylesheets/groups.scss */
.date {
  min-width: 52px;
}
