/* line 5, app/assets/stylesheets/user.scss */
.profile-container {
  background: linear-gradient(40deg, #3190e3, #163150);
  color: #fafafa;
  height: 100vh;
}

/* line 10, app/assets/stylesheets/user.scss */
.profile-container li {
  background-color: transparent;
  border-width: 0 0 1px;
  margin-top: 25px;
}

/* line 15, app/assets/stylesheets/user.scss */
.profile-container li a {
  color: #fafafa;
}
