<% provide(:title, 'Home') %>

<div class="home_title justify-content-center d-flex">
  <h1 class="align-self-center text-center">Transactions</h1>
</div>
<div>
  <%= link_to  "Login", login_path, class: "btn btn-primary btn-lg btn-block" %>
  <%= link_to  "Signup", signup_path, class: "btn btn-lg btn-block" %>
</div>