$primary: #3778c2;

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'bootstrap';

h1 {
    font-size: 5em;
    font-family: 'Cookie', cursive;
}

.form {
    margin-top: 60px;
}

.form-controls {
    width: 70%;
    margin-left: 170px;
}

.login{
    position: relative;
    left: -10px;
    width: 40%;
}

.link {
    margin-left: 330px;
    position: relative;
    top: 100px;
}