$primary: #3778c2;

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'bootstrap';

  
.box-hvr:hover {
    box-shadow: #80808082 2px 2px 2px 2px;
}

body {
    background-color: #fafafa;
}

.text-center {
    padding-top: 16px;
    font-size: 2em;
}

.amount {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.font-weight-bold {
    font-size: 1.5em;
    margin-right: 20px;
    margin-top: 5px;
}

.text-muted {
    font-size: 1.5em;
    margin-left: 20px;
}

.link-btn {
    position: relative;
    left: 90px;
    top: 50px;
}

.forms {
    width: 70%;
    margin-top: 50px;
}

.form-control {
    margin-top: 25px;
}
    

.body {
    text-align: center;
}

.btn {
    margin-top: 35px;
    margin-left: 230px;
}

.link-btns {
   margin: 0px 0px 20px 300px;
}