// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-container {
  background: linear-gradient(40deg, hsl(208, 76%, 54%), #163150);
  color: #fafafa;
  height: 120vh;

  li {
    background-color: transparent;
    border-width: 0 0 1px;
    margin-top: 25px;

    a {
      color: #fafafa;
    }
  }
}
