<% provide(:title, 'Transactions') %>

<body>

<nav class="navbar navbar-dark bg-primary">
  <p class="text-center">TRANSACTIONS</p>
</nav>

<div>
  <div class="amount">
    <h5 class="text-muted">Total Amount</h5>
    <p class="font-weight-bold">$<%= number_with_precision(@transactions.sum(:amount), :precision => 2) %></p>
  </div>

  <%= render @transactions %>
</div>

<%= link_to new_transaction_path, class: "link-btn btn
                  btn-success" do %>
  <span class="button">NEW TRANSACTION</span>
<% end %>
</body>