<% if action_name != 'show' %>
         <% flash.each do |m_type, msg| %>
           <div class="alert alert-<%= m_type %> w-75 mx-auto text-center mt-3">
             <%= msg %>
           </div>
         <% end %>
<% end %>